{% extends 'base.html' %} {% block web_title %} {{super()}} {% endblock %} {% block contents %}

<div class="container">
   <!-- component -->
<div class="flex items-center justify-center p-12">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="mx-auto w-full max-w-[550px]">
      <form action="" method="GET">
        <div class="mb-5">
          <label
            for="name"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
             Name
          </label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            value="{{ session['username'] }}"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
   
        <div class="mb-5">
          <label
            for="subject"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            What are you feeling today?
          </label>

          <select  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="emotion" id="emotion">
            <option value="select-option">--please select--</option>
            {% for emotion in emotions_array %}

            <option>{{ emotion }}</option>


            {%endfor %}
          </select>

        </div>

        <div>
          <button
            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{{ quote_result }}

{% endblock %}
